<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store.Web</title>

   
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar bg-warning">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area="">Home page</a>
            <br />
            <form class="form-inline" action="@Url.Action("Index","Search") " method="get">
                <input class="form-control" name="query" type="search" placeholder="author or title"/>
                <button class="btn-default" type="submit">Search</button>
            </form>
            <span class="navbar-text media-left">
                @{ 
                    store.Cart cart = null;
                    if((Context.Session.IsAvailable)&&(!Context.Session.TryGetCart(out cart)))
                    {
                        cart = new Cart();
                    }

                    if((cart != null)&&(cart.Items.Count == 0))
                    {
                        @:Basket is empty
                    }
                    else
                    {
                        int eachIdBooksCount = cart.Items.Where(x => x.Value > 1).Select(x => x.Value - 1).Sum();

                        @:Books : @(cart.Items.Count + eachIdBooksCount) Total Price: @cart.Amount
                    }

                }
            </span>
        </nav>
    </header>
   
    <div>
        @RenderBody()
        <hr />
    </div>

</body>
</html>
