<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Store.Web</title>

   
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
        <nav class="navbar bg-warning">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index" asp-area="">Home page</a>
            <br />
            <form class="form-inline" action="@Url.Action("Index","Search") " method="get">
                <input class="form-control" name="query" type="search" placeholder="author or title"/>
                <button class="btn-default" type="submit">Search</button>
            </form>
            <span class="navbar-text media-right">
                @{ 
                    store.Cart cart = null;
                    if((Context.Session.IsAvailable)&&(Context.Session.TryGetCart(out cart)))
                    {
                      <a href="@Url.Action("Index", "Order")">Products: @cart.TotalCount Total Price: @cart.TotalPrice</a>
                    }
                    else
                    {
                        @:Basket is empty
                    }
                }
            </span>
        </nav>
    </header>
   
    <div>
        @RenderBody()
        <hr />
    </div>

</body>
</html>
